<h2>TOPICS</h2>
<ul>
    {% for nav in section.settings.navs %}
        <li>{{ nav }}</li>
    {% endfor %}
</ul>


<ul>
    {% for navImg in section.settings.navImges %}
        <li>{{ navImg }}</li>
    {% endfor %}
</ul>

