<h2>TOPICS</h2>
<ul>
    {% for nav in section.navigation %}
        <li>{{ nav.item }}</li>
    {% endfor %}
</ul>


<ul>
    {% for topic in section.topics %}
        <li>{{ nav.img }}</li>
    {% endfor %}
</ul>


{% schema %}
{
    "name": "topics",
    "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        }
    ]
}
{% endschema %}